* {
    margin: 5;
    box-sizing: border-box;
  }

main {
    max-width: 400px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 180px;
    height: 200px;
    font-size: 18px;
  }


  section {
    /* height: calc(100vh/3); */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #timer{
    text-align: center;
    font-size: 2em;
    padding: 20px;
    color: red;
    /* border: 2px solid #ccc; */
    /* border-radius: 10px; */
    /* background-color: #ffff; */
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
}

h1 {
    font-size: 40px;
}

#comment {
    display: flex;
    flex-direction: column;
    font-size: 18px
  }
  
  .silent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }
  