* {
    margin: 5;
    box-sizing: border-box;
  }

main {
    max-width: 400px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 180px;
    height: 200px;
    font-size: 18px;
  }


  section {
    /* height: calc(100vh/3); */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #timer{
    text-align: center;
    font-size: 2em;
    padding: 20px;
    color: red;
    /* border: 2px solid #ccc; */
    /* border-radius: 10px; */
    /* background-color: #ffff; */
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
}

h1 {
    font-size: 36px;
}

#comment {
    display: flex;
    flex-direction: column;
    font-size: 18px
  }
  
  .silent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

  .slideConts{
    opacity: 0;
  }

  .slide{
    animation: slideAnime 2s ease forwards;
  }

  @keyframes slideAnime {
    from {
    opacity: 0;
    }

    to {
    opacity: 1;
    }
  }
.txt1 {animation-delay: 2.0s;}
.txt2 {animation-delay: 4.0s;}
.txt3 {animation-delay: 6.0s;}
.txt4 {animation-delay: 8.0s;}
.txt5 {animation-delay: 10.0s;}
  